h3 Companies house
table.table-detail
  tbody
    tr
      th(width='30%') Region
      td South West
    tr
      th Registered office address
      td
        | #{company.registered_office_address.address_line_1},
        | #{company.registered_office_address.address_line_2},
        | #{company.registered_office_address.locality},
        | #{company.registered_office_address.region},
        | #{company.registered_office_address.postal_code}
    tr
      th Company type
      td= company.type
    tr
      th Company status
      td= company.company_status
    tr
      th Nature of business (SIC)
      td
        if company.sic_codes
          each code in company.sic_codes
            = sicLookup(code)
h3 UKTI
.js-hidden-edit
  .data-view
    table.table-detail
      tbody
        tr
          th(width='30%') Website
          td= company.website
        tr
          th Business description
          td= company.businessDescription
        tr
          th Export experience
          td
            if company.exportExperience
              each experiance in company.exportExperience
                div
                  a(href="#") #{experiance.year} - #{experiance.country}
        tr
          th Countries of interest
          td
            if company.countryOfInterest
              each countryOfInterest in company.countryOfInterest
                div= countryOfInterest

    button.button.button-secondary.edit-button Edit company

  form.edit-view(method="post")
    .form-group
      label.form-label(for="website") Website
      input#website.form-control(type="text", name="website", value="#{company.website}")

    .form-group
      label.form-label(for="description") Business description
      textarea#description.form-control(name="businessDescription")= company.businessDescription

    fieldset.fieldset-group.form-group.js-add-another
      if company.countryOfInterest
        each countryOfInterest, index in company.countryOfInterest
          .form-group.form-group--compact
            label.form-label(for= 'country-of-interest-#{index}') Country of interest
            input.form-control(id= 'country-of-interest-#{index}', name="countryOfInterest", type="text", value= countryOfInterest)
      else
        .form-group.form-group--compact
          label.form-label(for="country-of-interest-1") Country of interest
          input#country-of-interest-1.form-control(name="countryOfInterest", type="text")

      a.add-another-button(href="#") Add another country

    .form-group
      button.button.button-primary.save-button(type="submit") Save
      a.cancel-button(href='#') Cancel
