p.actions
  a.button.button-secondary(href="#") Add new contact
ol.contact-list
  each contact in contacts
    li.contact-list__item
      h3.contact-list__heading
        a(href="#") #{contact.name.first} #{contact.name.last}
        |  - #{contact.position}
      .grid-row
        .column-half
          p.contact-list__meta.contact-list__meta--inline Phone: #{contact.phone}
        .column-half
          p.contact-list__meta.contact-list__meta--inline
            | Email: 
            a(href='mailto:#{contact.email}') #{contact.email}
